* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4rem;
  color: #222222;
}

a[href] {
  text-decoration: none;
  color: #222222;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
}

li {
  list-style: none;
}

p {
  letter-spacing: 0.3px;
}

h1 {
  font-size: 39px;
}

span {
  font-family: 'Bree Serif', cursive !important;
  font-size: 15px;
  line-height: 15px;
}

.hidden {
  display: none !important;
}

#header {
  padding: 30px 0 30px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #008cba;
  align-items: center;
}
#header .back-home {
  display: flex;
  align-items: center;
}
#header .back-home h1 {
  margin-right: 10px;
  color: #fff;
}
#header .back-home span {
  color: #fff;
  font-size: 20px;
}
#header .audio {
  background-color: #FFDD00;
  cursor: pointer;
  height: 45px;
  margin-right: 26px;
  border-radius: 12px;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
#header .audio i {
  font-size: 16px;
}
#header .audio span {
  margin-left: 8px;
}

#content .title-container {
  max-width: 650px;
  margin: 0 auto;
}
#content .title-container h1 {
  text-align: center;
  font-size: 39px;
  margin-top: 21px;
  margin-bottom: 10.5px;
}
#content .title-container p {
  text-align: center;
  margin: 0 0 10.5px;
}
#content .main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#content .main-content h2 {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 10.5px;
  color: #008cba;
  font-size: 32px;
}
#content .wrapper-data {
  position: relative;
  height: 300px;
  overflow: hidden;
}
#content .left-content-container {
  padding: 0 15px;
  width: 45%;
}
#content .left-content-container:hover .copy-import-btn {
  display: inline-block;
}
#content .center-content-container {
  margin-top: 100px;
}
#content .center-content-container li {
  text-align: center;
  height: 42px;
  background-color: #008cba;
  margin-bottom: 10px;
  width: 160px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .center-content-container li:hover {
  background-color: #006d91;
}
#content .center-content-container li:first-child {
  background-color: #e7e7e7;
}
#content .center-content-container li:first-child:hover {
  background-color: #d3d3d3;
}
#content .center-content-container li:last-child {
  background-color: #f04124;
}
#content .center-content-container li:last-child:hover {
  background-color: #dc2c0f;
}
#content .center-content-container i {
  color: #fff;
  font-size: 22px;
}
#content .center-content-container select {
  outline: none;
  width: 100%;
  border: none;
  border-radius: 0px;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  height: 100%;
}
#content .center-content-container option {
  border: none;
  outline: none;
  font-size: 20px;
}
#content .right-content-container {
  padding: 0 15px;
  width: 45%;
}
#content .right-content-container:hover .copy-export-btn {
  display: inline-block;
}
#content .linedwrap {
  display: flex;
  border: 1px solid #c0c0c0;
}
#content .lines {
  width: 50px;
  padding-top: 5px;
  margin-right: 5px;
  float: left;
  overflow: hidden;
  position: relative;
}
#content .lines span {
  text-align: right;
  width: 45px;
  padding-right: 6.5px;
  font-size: 10px;
  background-color: #eee;
  border-right: 1px solid #c0c0c0;
}
#content .lines span.no-color {
  background-color: #fff !important;
}
#content .codelines {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#content .box-data {
  width: 100%;
  padding: 4px 2px;
}
#content textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
#content .copy-btn {
  position: absolute;
  right: 9px;
  top: 7px;
  width: fit-content;
  cursor: pointer;
  color: #fff;
  background-color: #008cba;
  padding: 5px;
  display: none;
}
#content .copy-btn:hover {
  background-color: #c0c0c0;
  color: #000;
}

#music_player {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 86px;
  background-color: #000;
}
#music_player .wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
#music_player .song_infor {
  flex: 1;
  display: flex;
  align-items: center;
}
#music_player .song_infor .avatar {
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 8px;
  overflow: hidden;
}
#music_player .song_infor .avatar img {
  height: 100%;
  width: auto;
}
#music_player .song_infor .song_name {
  margin-left: 15px;
  color: #ccc;
}
#music_player .song_infor .song_name h3, #music_player .song_infor .song_name span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
#music_player .song_infor .song_name h3 {
  font-weight: 500;
  font-size: 16px;
}
#music_player .song_infor .song_name span {
  font-size: 14px;
  margin-top: 5px;
}
#music_player .song_infor .active {
  margin-left: 15px;
}
#music_player .song_infor .active i {
  color: #1dc462;
}
#music_player .control_menu {
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
#music_player .control_menu .top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#music_player .control_menu .top i {
  margin: 0 15px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
#music_player .control_menu .play i {
  font-size: 30px;
}
#music_player .control_menu .shuffle i {
  color: #7c7c7c;
}
#music_player .control_menu .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 7px;
}
#music_player .control_menu .bottom .progress-container {
  flex: 1;
  height: 3px;
  background-color: #7c7c7c;
  border-radius: 8px;
  margin: 0 8px;
  position: relative;
}
#music_player .control_menu .bottom .progress-bar {
  width: 0;
  height: 100%;
  background: #ff6f61;
  transition: width 0.1s ease;
}
#music_player .control_menu .bottom span {
  font-size: 13px;
  color: #7c7c7c;
}
#music_player .setting {
  flex: 1;
}

#footer {
  margin-top: 50px;
  padding: 30px 0;
}
#footer .section-title {
  background-color: #007196;
  padding: 30px 15px 30px 15px;
  width: 100%;
}
#footer .section-title h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
